* {
  margin: 0;
  padding: 0;
}

#divPai {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.grow {
  flex-grow: 1;
  height: 30%;
}

.grow1 {
  flex-grow: 1;
  max-width: 20%;
}

.grow2 {
  flex-grow: 2;
  max-height: 30%;
}

.grow3 {
  flex-grow: 3;
}

body {
  background-color: black;
  height: 1080px;
}

header {
  width: 100%;
  display: flex;
  height: 10%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(86, 120, 0, 0.933);
}

header img {
  width: 100px;
  height: 100px;
}

main {
  display: flex;
  width: 100%;
  height: 80%;
  background-color: rgb(86, 120, 0);
}

#contGame {
  background-color: rgb(86, 120, 0);
  width: 100%;
  height: 100%;
  border: solid black 1px;
}

main aside {
  display: flex;
  text-align: center;
  flex-direction: column;
}

main section {
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  width: 100%;
  height: 10%;
  background-color: rgb(0, 0, 52);
}

#options {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#options #newGameBtn {
  width: 50%;
  font-size: 30px;
  box-shadow: 3px 3px 3px black;
}

#contGame {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Tela {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#Interface {
  width: 100%;
  background-color: rgb(62, 87, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.int {
  margin: 2px;
  box-shadow: 1px 1px 1px black;
}

.enemy {
  width: 15%;
  margin-right: 30px;
}

.selected {
  border: solid rgb(144, 0, 0) 5px;
}

.none {
  display: none;
}

.personagem {
  width: 30%;
}

#status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 50%;
  border: solid black 3px;
}

#opAtaques {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: solid black 3px;
}

#ceuGame {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#sobreTerraGame {
  display: flex;
  align-items: center;
  justify-content: end;
}